#body {
    background-color: #F6F6F6;
}
#hlt_main {
    display: flex;
}
#side_navigation {
    background-color: #F6F6F6;
    height: 100vh;
    position: fixed;
    z-index: 100;
}
#menu_button {
    background-color: #F6F6F6;
    border: none;
    width: 3rem;
    padding-bottom: 100vh;
}
#menu_image {
    width: 1.5rem;
    padding-top: 2rem;
}
#menu_image1 {
    width: 1.8rem;
    padding-top: 1rem;
}
#offcanvas_images {
    display: block;
}
#side_navigation_span1 {
    display: flex;
    width: 20rem;
    height: 2.6rem;
    background-color: #006BFF;
    border-radius: 50px;
}
#side_navigation_span {
    display: flex;
    margin-top: 1rem;
}
#side_navigation_image1 {
    width: 2rem;
    height: 2rem;
    margin: 0.3rem 0rem 0rem 1.5rem;
}
#side_navigation_images {
    width: 2rem;
    height: 2rem;
    display: block;
}
#side_navigation_title1 {
    padding: 0.2rem 0rem 0rem 2rem;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
}
#side_navigation_title {
    padding-left: 1.5rem;
}
#close_button{
    margin-left: 23rem;
}


#hlt_body {
    width: 100%;
}
#hlt_body_navigation {
    display: flex;
    justify-content: space-around;
    background-color: #0e2433;
    padding: 0.4rem 0rem 0.4rem 8rem;
    position: fixed;
    z-index: 1;
    width: 100vw;
}
#hlt_body {
    background-color: #F6F6F6;
    margin-left: 3rem;
    width: 100%;
}
#main_logo {
    width: 9rem;
    height: 9rem;
}
.htl_main_navigation_body {
    padding-top: 1rem;
    padding-left: 1rem;
}
.htl_main_navigation_body a {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0.5rem;
}
.htl_main_navigation_body a:hover {
    border-bottom: 2px solid white;
    transition: all 1s ease-in-out;
}
#hlt_main_navigation{
   border: 2px solid white;
}
#dropdown_menu{
    display: none;
}
#block2_header {
    padding-top: 2rem;
}
.input-box {
    position: relative;
    height: 3rem;
    max-width: 70rem;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
}
.button {
    height: 2.9rem;
}
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}
.input-box .button {
    right: 0.1rem;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 7px;
    background-color: #E72929;
    cursor: pointer;
}
.input-box .button:active {
    transform: translateY(-50%) scale(0.98);
}
#body_navigation a {
    text-decoration: none;
    color: #156da9;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}
#body_navigation a:hover {
    box-shadow: 0px 0px 20px black;
    transition: all 1s ease-in-out;
}
#block3_header {
    display: flex;
    column-gap: 2rem;
    padding-top: 2.3rem;
}
#profile_image, #wishlist_image, #cart_image {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-right: 2rem;
}

#hlt_main_body {
    z-index: -99;
    margin-top: 10rem;
    background-color: #F6F6F6;
}
.block1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}
#block1_1, #block1_2, #block1_3, #block1_4{
    max-width: 20rem;
    text-align: center;
    cursor: pointer;
}
.block1_1heading, .block1_2heading, .block1_3heading, .block1_4heading{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#block1_1image{
    max-width: 3.5rem;
}

#categories {
    padding: 3rem 5rem 0rem 5rem;
}
#category_heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: gray;
    letter-spacing: 5px;
    padding-bottom: 3rem;
}
#category_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    cursor: pointer;
}
#category_block1 {
    border: 4px solid #0e2433;
    border-radius: 150px 150px 10px 10px;
    background-color: white;
    width: 15rem;
    padding: 2rem;
    box-shadow: 0px 0px 30px orange inset;
}
#beauty_image {
    width: 10rem;
    border-radius: 150px 150px 0px 0px;
}
#category_block1_title {
    text-align: center;
    padding-top: 1rem;
    color:#E72929;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
}

#products {
    padding-top: 5rem;
}
#products_heading {
    color: #156da9;
    font-size: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
}
#products_quote {
    color: #E72929;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-family: serif;
    font-style: italic;
}

#electronics,
#home_appliances {
    padding-top: 2rem;
}
#electronics_heading,
#home_appliances_heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0rem 0rem 2rem 0rem;
    color: gray;
    letter-spacing: 8px;
    font-weight: 100;
}
#electronics_block,
#home_appliances_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
}
#electronics1 {
    background-color: white;
    width: 15rem;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.2s
}
#electronics1:hover {
    box-shadow: 0px 0px 10px gray;
    cursor: pointer;
    transform: scale(1.1);
}
#electronics1_image {
    width: 10rem;
    border-radius: 10px;
}
#electronics1_title {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 1rem;
}
#type {
    color: gray;
}
#stars {
    width: 6rem;
    display: block;
}
#done {
    width: 1.4rem;
}
#in_stock {
    display: inline-block;
    padding-left: 0.5rem;
}
#electronics1 p i {
    text-decoration: line-through;
    font-size: 0.8rem;
    color: #E72929;
}
#electronics1 p b {
    color: #156da9;
}
#add_to_cart {
    background-color: #006BFF;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#add_to_cart_image{
    display: none;
}







#bottom_images{
    display: none;
}
#cart_image, #wishlist, #profile{
    width: 2rem;
}



@media (max-width: 970px) {
    #side_navigation {
        display: none;
    }
    #hlt_body {
        margin-left: 0rem;
        padding-left: 0rem;
    }
    #hlt_body_navigation {
        padding-left: 0rem;
    }
    #main_logo {
        width: 6rem;
        height: 6rem;
    }
    #block1_header {
        padding-bottom: 0rem;
    }
    #block2_header {
        padding-bottom: 0rem;
        padding-top: 1.5rem;
    }
    #block3_header {
        display: none;
    }
    .htl_main_navigation_body {
        display: none;
    }
    #dropdown_menu {
        display: flex;
    }
    #dropdown_menu_image {
        width: 2rem;
        height: 2rem;
    }
    #dropdown_menu_button {
        background-color: #0e2433;
        border: none;
    }
    .input-box .button {
        height: 3rem;
        right: 0;
        font-size: 14px;
        padding: 8px 18px;
    }
    #hlt_main_body {
        margin-top: 6.9rem;
        padding-bottom: 4rem;
    }
    #bottom_images{
        display: block;
        position: fixed;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        padding: 0.5rem;
    }
}

@media (max-width: 752px) {
    .block1{
        display: none;
    }
    #categories {
        padding: 2rem 1rem 0rem 1rem;
    }
    #category_block {
        justify-content: center;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    #beauty_image {
        width: 7rem;
    }
    #category_block1 {
        padding: 0.5rem;
        width: 9rem;
    }
    #category_heading {
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    #main_logo {
        width: 4rem;
        height: 4rem;
    }
    .input-box {
        height: 2.5rem;
        margin: 0 8px;
    }
    #block2_header {
        padding-top: 0.7rem;
    }
    .input-box input {
        padding: 0 112px 0 50px;
    }
    ::placeholder {
        font-size: 15px;
    }
    .input-box .button {
        height: 2.44rem;
        right: 0;
        font-size: 10px;
        padding: 8px 18px;
    }
    #hlt_main_body {
        margin-top: 4.9rem;
    }
}